.top {
  width: 100%;
  height: 50px;
  background-color: paleturquoise;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  font-family: "Josefin Sans", sans-serif;
  z-index: 999;
}

.topLeft,
.topRight {
  flex: 3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.topCenter {
  flex: 6;
}




.topList {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.topListItem {
  margin-right: 20px;
  font-size: 18px;
  font-weight: 900;
  cursor: pointer;
  text-shadow: 3px 3px whitesmoke;
}
.topListItem:hover {
  transform:scale(1.1);
  text-shadow: 3px 3px greenyellow;
}

.logo {
  text-shadow: 3px 3px whitesmoke;
}

a {
  color:black;
  text-decoration: none;
}

.topImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}