.homepage {
    padding:30px;
    width:80vw;
    height:80vh;
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content:center;
    border: solid paleturquoise 2px;
}

button {
    height:30px;
    width:150px;
    margin:10px;
    cursor:pointer;
}
.buttons{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.proceed{
    border-radius:10px;
    background-color:white;
    margin-top:30px;
    font-size: 20px;
}
.levels {
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
}